---
import {getEntry, getCollection} from 'astro:content';
import ReferenceCard from '../components/ReferenceCard.astro';
const intro = await getEntry('sdyxz', 'intro');
const {Content, headings} = await intro.render();
const chapters = await getCollection('sdyxz');
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta name="description" content={intro.data.description} />
		<title>{intro.data.title}</title>
		<link rel="stylesheet" href="/styles/w3.css"/>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	</head>
	<body>
		<main class="w3-main w3-row-padding">
			<div class="w3-col m9 l8">
				<div class="w3-container w3-content">
					<Content />
				</div>
			</div>
			<div class="w3-col m3 l4">
				{
					chapters.map(bab => (
						<ReferenceCard image={bab.data.image} title={bab.data.title} ilustrasi={bab.data.ilustrasi} href={"/memanah-rajawali/" + bab.slug} />
					))
				}
			</div>
		</main>
	</body>
</html>
