---
import {getEntry} from 'astro:content';
import ReferenceCard from '../../components/ReferenceCard.astro';
import IllustrationCard
 from '../../components/IllustrationCard.astro';
const bab2 = await getEntry('sdyxz', 'bab2');
const {Content, headings} = await bab2.render();
const bab1 = await getEntry('sdyxz', 'bab1');
const bab3 = await getEntry('sdyxz', 'bab3');
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta name="description" content={bab2.data.description} />
		<title>{bab2.data.title}</title>
		<link rel="stylesheet" href="/styles/w3.css"/>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	</head>
	<body>
		<main class="w3-main">
			<div class="w3-container w3-row-padding">
				<div class="w3-col m6 l8 w3-container">
					<div class="w3-content">
                        <div class="w3-bar w3-container">
                            <h1>Memanah Rajawali</h1>
                            <a class="w3-bar-item w3-btn w3-hover-black w3-round" href="/"><i class="fa fa-home"></i> Home</a>
                            <a class="w3-bar-item w3-btn w3-hover-black w3-round" href="/memanah-rajawali/bab1" 
							    title=`Bab 1:\n${bab1.data.ilustrasi}`><i class="fa fa-arrow-left"></i></a>
                            <a class="w3-bar-item w3-btn w3-hover-black w3-round" href="/memanah-rajawali/bab3" 
							    title=`Bab 3:\n${bab3.data.ilustrasi}`><i class="fa fa-arrow-right"></i></a>
                        </div>
                        <div class="w3-bar w3-container w3-padding-16">
                            <Content />
                        </div>
					</div>
				</div>
                <div class="w3-col m6 l4 w3-padding-16">
                    <IllustrationCard image={bab2.data.image} title={bab2.data.title} 
                        ilustrasi={bab2.data.ilustrasi} 
                    />
					<ReferenceCard image={bab1.data.image} title={bab1.data.title} 
					    ilustrasi={bab1.data.ilustrasi}
						href={bab1.slug}
					/> 
                </div>
			</div>
		</main>
	</body>
</html>
